/*initilisation*/
* {
  padding: 0%;
  margin: 0%;
  font-family: Roboto, Arial, sans-serif;
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  margin: 2% 10%;
}

/*company's logo*/

.logo {
  width: 268px;
  height: 33px;
  padding-top: 2%;
}

/* The navbar with the drop menu in deparmtments */
.career {
  text-decoration: none;
  color: #ababab;
}

.career:hover {
  color: #00b39b;
}

.dropbtn {
  background-color: none;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  background: none;
  color: #ababab;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
}

.dropdown-content a {
  color: #ababab;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #00b39b;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.departments {
  text-decoration: none;
  color: #ababab;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

.departments:hover {
  color: #00b39b;
}

/*main*/

/*Health care section*/

.healthcare {
  display: flex;
  margin: 3% 10%;
  flex-direction: column;
  /*align items diplay contents on columns reverse to justify-
  content*/
  align-items: center;
}

.healthcare h2 {
  color: #00b39b;
  font-size: 2.125rem;
}

.healthcare div {
  display: flex;
  justify-content: space-between;
}

.healthcare div p {
  padding: 2%;
  line-height: 1.5;
  font-weight: 400;
  color: #747474;
  width: 45%;
}

/* section boxes */

.boxes {
  display: flex;
  margin: 3% 10%;
  justify-content: space-between;
  height: 345px;
}

.boxes h1 {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
}

.boxes h2 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  color: #fff;
}

.boxes select {
  background: none;
  color: #fff;
  border: none;
  font-weight: 300;
  font-size: 1.5em;
  text-decoration: underline;
}

.boxes select option {
  color: black;
}

.greenbox {
  border-radius: 11px;
  display: flex;
  background-color: #00b39b;
  /* margin: 0% 5%; */
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 2%;
}

.greenbox img {
  width: 68px;
  height: 33px;
  float: left;
}

.bluebox {
  border-radius: 11px;
  display: flex;
  background-color: blue;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 2%;
}

.bluebox img {
  width: 68px;
  height: 33px;
  float: left;
}

.blackbox {
  display: flex;
  background-color: black;
  border-radius: 11px;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 2%;
}

.blackbox img {
  width: 68px;
  height: 33px;
  float: left;
}

/* section global */
.global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.global h3 {
  width: 33%;
  font-size: 1.625em;
  margin: 0.25em 0 0.35em;
  padding-right: 0em;
  color: #00b39b;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
  width: 50%;
  color: gray;
  list-style: none;
  padding: 2% 15%;
}

.logos svg {
  /*fill for svgs*/
  fill: gray;
  height: 20px;
  width: auto;
  max-width: 100%;
  padding-left: 10px;
}

.logos svg:hover {
  fill: #00b39b;
}

.logos img {
  /*filter for images*/
  filter: grayscale(100%);
}

.logos img:hover {
  filter: grayscale(0%);
}
/*section Biggest*/

.biggest {
  display: flex;
  background: #e5faf8;
  height: 460px;
  overflow: hidden;
}

.biggest h1 {
  color: #00b39b;
  margin-bottom: 7%;
}

.biggest p {
  margin-bottom: 5%;
}

.whiteboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.tinybox {
  background: white;
  margin: 3%;
  height: 190px;
  width: 85%;
  padding: 15px;
  border-radius: 7px;
}

.whiteboxes h3 {
  color: #00b39b;
}
/*improve section*/

.improve {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  margin: 3% 28%;
}

.improve h1 {
  margin-top: 3%;
  font-size: 2.1428571429em;
  color: #00b39b;
}

.improve p {
  margin-top: 1%;
  margin-bottom: 3%;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
  -webkit-font-smoothing: antialiased;
}

/*countries section*/

.countries {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 10%;
  justify-content: space-between;
}

.country {
  margin-bottom: 3%;
  border-radius: 7%;
  overflow: hidden;
}

.country img {
  border-radius: 7%;
}

.country div {
  display: flex;
  justify-content: space-between;
  padding: 8%;
}

.country button {
  color: #fff;
  background: #1662c6;
  font-size: 0.625rem;
  padding: 1em 1.5em;
}

.country:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Sounds section*/

.sounds {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.sounds h1 {
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: 0.75em;
}

.sounds button {
  background: #1662c6;
  padding: 1em 1.5em;
  margin-bottom: 3%;
}

.sounds a {
  color: white;
  font-size: 0.625rem;
  text-decoration: none;
}

/* Footer */

.footer {
  border-top: 1px solid #eef2f2;
  text-align: center;
  padding: 1em 0;
  color: #ababab;
}

.footer a {
  text-decoration: none;
  color: #3d83df;
  outline: 0;
  transition: all 0.2s ease 0s;
}
